body {
  background-color: #FAF1E6;
}

h1, h2, h3 {
  text-align: center;
}

/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #161616;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #161616;
}

/* dads logo */
#logo {
  display: block;
  margin: 30px auto;
  border-radius: 50%;
}

/* paragraph */
p {
  margin: 0 auto;
  width: 20em;
}

/* dads about me pic */
#steve, #carouselExampleControls {
  display: block;
  margin: 0 auto;
  width: 30%;
}

/* section about dad, section dads work */
#AboutDad, #Dadswork {
  background-color: #39A2DB;
}

/* social media icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 100px 0 0 200px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-envelope {
  background: #00aff0;
  color: white;
}
